<!DOCTYPE type>
<html>
<head>
<style>
/* Example: Setting font family, size, and style */
body { font-family: Arial, Helvetica, sans-serif; /* Preferred font, fallback fonts */
    font-size: 16px; /* Base font size */
    color: #333; /* Text color */
}

h1 { font-family: 'Times New Roman', Times, serif; font-weight: bold;}

p {    font-family: Georgia, serif;    font-style: italic;}
</style>
<meta charset="UTF-8">
<title> PLACEHOLDER </title>
<link rel="icon" type="image/jpg" href="C:\Users\josep\OneDrive\Desktop\Software Ass 3 2026 term 2\Project\static\images\Test1.jpg">
</head>

<header style=background-color:purple>
    <h1> This is a header </h1>
</header>

<nav style=background-color:cyan>
    <h1> This is a nav </h1>
    <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <form method="post">
    <input type="text" placeholder="Search.." name="itemname">
    <br></br>
    <input type="submit" value="Submit">
  </form>
</div>
</nav>

  <section style=background-color:aquamarine>
    <style> 
     p{ 
        background-color: rgb(221, 117, 181)
     } </style> 

     <h1> This is working </h1>
    <img src="C:\Users\josep\OneDrive\Desktop\Software Ass 3 2026 term 2\Project\static\images\Test1.jpg" alt="Cars7" width="500" height="500">
 <h1>Heading Example</h1>
<p>This is a paragraph with a custom font style.</p>
    </section>
    
<aside style=background-color:pink>
  <img src="C:\Users\josep\OneDrive\Desktop\Software Ass 3 2026 term 2\Project\static\images\Test1.jpg" alt="Cars7" width="300" height="300">
</aside>

<article style=background-color:yellow>
    <h1> This is an article </h1>
</article>

</html>